<h2 class="text-4xl text-black">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="my-5">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: [
      "block shadow-sm rounded-md border px-3 py-2 mt-2",
    ] %>
  </div>

  <div class="my-5">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: [
      "block shadow-sm rounded-md border px-3 py-2 mt-2",
    ] %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="my-5">
      <%= f.check_box :remember_me, class: [
        "shadow-sm rounded-md border px-3 py-2 mt-2",
      ] %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: [
      "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-sky-500 hover:bg-sky-400 text-white inline-block font-medium cursor-pointer"
    ]  %>
  </div>
<% end %>

<%= render "users/shared/links" %>
