<%= form_with(model: [receipt, item], class: "contents",
              data: {
                controller: "reset-autofocus",
                action: "turbo:submit-end->reset-autofocus#reset"
              }) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul class="list-disc ml-6">
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.select :name,
                    options_for_select(Item.pluck(:name).uniq, nil),
                    { include_blank: true },
                    {
                      data: {
                        controller: 'tom-select',
                        'tom-select-autofocus-value': true,
                        }
                    }
    %>
  </div>

  <div class="my-5">
    <%= form.label :price %>
    <%= form.text_field :price, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": item.errors[:price].none?, "border-red-400 focus:outline-red-600": item.errors[:price].any?}] %>
  </div>

  <div class="my-5">
    <%= form.text_field :receipt_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full hidden", {"border-gray-400 focus:outline-blue-600": item.errors[:receipt_id].none?, "border-red-400 focus:outline-red-600": item.errors[:receipt_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :category_name %>
    <%= form.select :category_name,
                    options_for_select(Category.order(name: :asc).pluck(:name), nil),
                    { include_blank: true },
                    {
                      data: {
                        controller: 'tom-select'
                      }
                    }


    %>
  </div>

  <div class="my-5">
    <%= form.label :amount %>
    <%= form.text_field :amount, value: 1, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": item.errors[:price].none?, "border-red-400 focus:outline-red-600": item.errors[:price].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
