<% content_for :title, "Items" %>

<div class="w-full">
  <div class="my=5">
    Einkaufsdatum: <%= @receipt.shopped_at.strftime("%d.%m.%Y") %>
  </div>

  <div>
    Geschäft: <%= @receipt.shop.name %>
  </div>

  <div>
    Summe: <%= @receipt.total %>
  </div>

  <div>
    Positionen: <%= @receipt.items.sum(:amount) || 0 %>
  </div>

  <hr>

  <div class="mt-2">
    <%= render 'items/form', item: @item, receipt: @receipt %>
  </div>

  <div class="mt-2">
    <%= render 'items/items', items: @items %>
  </div>
</div>
